.terraform/
.terraform.lock.hcl
/*.tfvars
/*.tfstate
/*.terraformrc
/*.tfstate.backup
/solutions/*.tfstate
/solutions/*.tfstate.backup
*.bak
*.history
.metadata
workspaces
*.tfstate.d
.vscode
provider.tf
