/*****************************************************/
/* Variables for Module "Main"                       */
/*****************************************************/
toolchain_resource_group        = "Default"
toolchain_region                = "us-south"
toolchain_name                  = "DevSecOps CI Toolchain - Terraform"
toolchain_description           = "CI Toolchain created with Template for DevSecOps Best Practices"
app_name                        = "hello-compliance-app"
app_image_name                  = "hello-compliance-app-image"

/*****************************************************/
/* Variables for Module "Repositories"               */
/*****************************************************/
ibm_cloud_api_key               = ""
app_repo                        = "https://us-south.git.cloud.ibm.com/open-toolchain/hello-compliance-app.git"
pipeline_repo                   = "https://us-south.git.cloud.ibm.com/open-toolchain/compliance-pipelines.git"
evidence_repo                   = "https://us-south.git.cloud.ibm.com/open-toolchain/compliance-evidence-locker.git"
inventory_repo                  = "https://us-south.git.cloud.ibm.com/open-toolchain/compliance-inventory.git"
issues_repo                     = "https://us-south.git.cloud.ibm.com/open-toolchain/compliance-incident-issues.git"
ibm_cloud_api                   = "https://cloud.ibm.com"

/*****************************************************/
/* Variables for Module "Services"                   */
/*****************************************************/
cluster_name                    = "mycluster-free"
cluster_namespace               = "devsecops-ci-ns"
dev_region                      = "ibm:yp:us-south"
dev_resource_group              = "Default"
registry_namespace              = "devsecops-ci-registry"
registry_region                 = "ibm:yp:us-south"
sm_name                         = "sm-prod-dal"
sm_location                     = "us-south"
sm_secret_group                 = "Default"
sm_resource_group               = "Default"

/*****************************************************/
/* Variables for Module "Integrations"               */
/*****************************************************/
slack_channel_name              = "slack-channel"
slack_api_token                 = "slack-token"
slack_user_name                 = "slack-user"

#cos_api_key = ""
cos_bucket_name = ""
cos_endpoint = ""
