/*****************************************************/
/* Variables for Module "Main"                       */
/*****************************************************/
toolchain_resource_group        = "Default"
toolchain_region                = "us-south"
toolchain_name                  = "DevSecOps CI Toolchain - Terraform"
toolchain_description           = "CI Toolchain created with Template for DevSecOps Best Practices"
app_name                        = "hello-compliance-app"
#repositories_prefix             = "compliance-tf"

/*****************************************************/
/* Variables for Module "Repositories"               */
/*****************************************************/
ibmcloud_api_key                = ""
#app_repo_clone_from_url         = ""
#app_repo_clone_from_branch      = ""
#app_repo_clone_to_git_provider  = ""
#app_repo_clone_to_git_id        = ""
#app_repo_existing_url           = ""
#app_repo_existing_branch        = ""
#app_repo_existing_git_provider  = ""
#app_repo_existing_git_id        = ""
#ibmcloud_api                    = "https://cloud.ibm.com"

/*****************************************************/
/* Variables for Module "Services"                   */
/*****************************************************/
cluster_name                    = "mycluster-free"
cluster_namespace               = "devsecops-ci-ns"
dev_region                      = "ibm:yp:us-south"
dev_resource_group              = "Default"
registry_namespace              = "devsecops-ci-registry"
registry_region                 = "ibm:yp:us-south"
sm_name                         = "sm-prod-dal"
sm_location                     = "us-south"
sm_secret_group                 = "Default"
sm_resource_group               = "Default"
#enable_secrets_manager         = false
#enable_key_protect             = true
#kp_name                        = "kp-prod-dal"
#kp_location                    = "us-south"
#kp_secret_group                = "Default"
/*****************************************************/
/* Variables for Module "Integrations"               */
/*****************************************************/
#signing_key_secret_name                = "signing_key"
#cos_api_key_secret_name                = "cos-api-key"
#pipeline_ibmcloud_api_key_secret_name  = "ibmcloud-api-key"
#authorization_policy_creation          = "disabled"
#slack_channel_name                     = "slack-channel"
#slack_api_token                        = "slack-token"
#slack_user_name                        = "slack-user"
#doi_toolchain_id                       = toolchain Id of the toolchain owning the Devops Insights integration
#link_to_doi_toolchain                  = false|true (Default: false)

#cos_api_key_secret_name = ""
#cos_bucket_name = ""
#cos_endpoint = ""

/*****************************************************/
/* Variables for "Code Engine"                       */
/*****************************************************/

#deployment_target              = "code-engine" . #set "code-engine" to enable the code-engine vars
#code_engine_project            = "DevSecOps_CE"
#code_engine_region             = "ibm:yp:us-south"
#code_engine_resource_group     = "Default"
#code_engine_entity_type        = "application"   #Default type is 'application'. Set as 'job' for 'job' type"
#code_engine_build_strategy     = "dockerfile"    #Default strategy is 'dockerfile'. Set as 'buildpacks' for 'buildpacks' build"
#code_engine_source             = "path in repository to code"
